#gameTitle{
    text-align: center;
}
#numberInput{
    text-align: center;
    margin-top: 150px;
    font-size: xx-large;
}
#rules{
    text-align: center;
}
#gNumber{
    font-size: xx-large;
    
}
body{
    background-image: url("GameBackground.jpg");
}
#btn{
    font-size: large;
}
#temp{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: crimson;
}
#GameFinished{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: green;
}
#tries{
    text-align: center;
}
#finished{
    text-align: center;
}
#doneButton{
    font-size: large;
}